<!DOCTYPE html>
<html>
<head>
  <title>Create a New Campus Location</title>
</head>
<body>
  <form action="/campus" method="POST">
    <input type="text" name="name" placeholder="Name of Campus">
    <input type="text" name="abbreviation" placeholder="Abbreviation">
    <button type="submit">Save</button>
  </form>
</body>
</html>